*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}
body {
  background-color: hsl(218, 23%, 16%);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-image: url("/images/bg-intro-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
}
main {
  color: hsl(193, 38%, 86%);
  background-color: hsl(217, 19%, 24%);
  padding: 3rem 3rem 0 3rem;
  width: clamp(30rem, calc(100% - 20px), 32rem);
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
header {
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 10px;
  font-size: small;
}
p {
  font-size: 1.75rem;
  font-weight: 800;
}
button {
  background-color: hsl(150, 100%, 66%);
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem;
  border-radius: 99px;
  border: none;
  outline: none;
  margin-bottom: -1.75rem;
}
button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px hsl(150, 100%, 66%);
  animation: dice 2s infinite alternate-reverse;
}
button img {
  height: 100%;
}
img {
  width: 100%;
}
.attribution {
  position: fixed;
  font-size: x-small;
  text-transform: uppercase;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  text-align: center;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  animation: attribution 0.85s infinite alternate-reverse;
}
a {
  color: white;
  text-decoration: none;
}
@keyframes dice {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes attribution {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(10px);
  }
}
@media (max-width: 524px) {
  body {
    background-image: url("/images/bg-intro-mobile.png");
  }
  main {
    width: 100%;
    padding: 2rem 1rem 0 1rem;
  }
}
